In [2]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
stocks= ['RELIANCE.NS','TCS.NS']
new= pd.DataFrame()
for t in stocks:
    new[t]= wb.DataReader(t, data_source='yahoo', start='2019-1-1')['Close']

In [4]:
new_returns = np.log(new/new.shift(1))
new_returns

            RELIANCE.NS    TCS.NS
Date
2019-01-01          NaN       NaN
2019-01-02    -0.013110  0.010716
2019-01-03    -0.012414 -0.012215
2019-01-04     0.005385 -0.012233
2019-01-07     0.005537  0.011153
...                 ...       ...
2020-10-20    -0.009372  0.010072
2020-10-21    -0.014625 -0.023494
2020-10-22    -0.008342 -0.001590
2020-10-23     0.002891  0.005842
2020-10-26    -0.022688  0.005882

[447 rows x 2 columns]

In [11]:
print(new_returns['RELIANCE.NS'].mean())                 # daily return     
print(new_returns['RELIANCE.NS'].mean() * 250)           #annualised assuming 250 trading days
print(new_returns['RELIANCE.NS'].std())                  # a measure of risk/voltality
print(new_returns['RELIANCE.NS'].std() * 250 ** 0.5)

0.0016167133076650825
0.40417832691627065
0.024597573646933584
0.3889217881902226

In [13]:
print(new_returns['TCS.NS'].mean())                      
print(new_returns['TCS.NS'].mean() * 250)                      
print(new_returns['TCS.NS'].std())                      
print(new_returns['TCS.NS'].std() * 250 ** 0.5)

0.0008386886735692032
0.2096721683923008
0.019363194863356997
0.3061589927294047

In [15]:
new_returns[['RELIANCE.NS','TCS.NS']].mean() * 250

RELIANCE.NS    0.404178
TCS.NS         0.209672
dtype: float64

In [16]:
new_returns[['RELIANCE.NS','TCS.NS']].std() * 250  ** 0.5

RELIANCE.NS    0.388922
TCS.NS         0.306159
dtype: float64

In [20]:
reliance_var=new_returns['RELIANCE.NS'].var()
reliance_var

0.0006050406293163215

In [21]:
tcs_var=new_returns['TCS.NS'].var()
tcs_var

0.0003749333153163348

In [22]:
reliance_var=new_returns['RELIANCE.NS'].var() * 250          #security risk annualised
reliance_var

0.15126015732908038

In [23]:
tcs_var=new_returns['TCS.NS'].var() * 250
tcs_var

0.09373332882908371

In [26]:
cov_matrix=new_returns.cov()
cov_matrix

             RELIANCE.NS    TCS.NS
RELIANCE.NS     0.000605  0.000194
TCS.NS          0.000194  0.000375

In [28]:
cov_matrix_a=new_returns.cov() * 250
cov_matrix_a

             RELIANCE.NS    TCS.NS
RELIANCE.NS     0.151260  0.048448
TCS.NS          0.048448  0.093733

In [29]:
corr_matrix=new_returns.corr()
corr_matrix

             RELIANCE.NS    TCS.NS
RELIANCE.NS     1.000000  0.406876
TCS.NS          0.406876  1.000000

In [35]:
# portfolio risk
weight = np.array([0.5, 0.5])
pfolio_var= np.dot(weight.T, np.dot(new_returns.cov()*250, weight))  #portfolio variance
pfolio_var

0.08547213801813017

In [38]:
#portfolio voltality
pfolio_vol = (np.dot(weight.T, np.dot(new_returns.cov()*250, weight))) ** 0.5
pfolio_vol

0.29235618347852704

In [40]:
reliance_var_a= new_returns['RELIANCE.NS'].var() * 250
reliance_var_a

0.15126015732908038

In [41]:
tcs_var_a= new_returns['TCS.NS'].var() * 250
tcs_var_a

0.09373332882908371

In [53]:
#diversifiable risk = portfolio variance - weighted variance of each stock
dr= pfolio_var - (weight[0] ** 2 * reliance_var_a) - (weight[1] ** 2 * tcs_var_a)
dr

0.024223766478589145

In [55]:
#non diversifiable risk
ndr = pfolio_var - dr
ndr

0.06124837153954102